<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StegoCrypt</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body class="bg-landing-image">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1>StegoCrypt</h1>
          <h2>Welcome to StegoCrypt</h2>
          <div class="links">
            <a href="hide_message.html">Sembunyikan Pesan</a>
            <a href="reveal_message.html">Ekstraksi Pesan</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
